*.VC
*.db-shm
*.db-wal
*.opendb
*.mtl

Solution/Common/Debug/*.obj
Solution/Common/Debug/*.pdb
Solution/Common/Debug/*.idb
Solution/Common/Debug/*.tlog
Solution/Common/Debug/*.log
Solution/OpenGL1/Debug/*.log
Solution/OpenGL1/Debug/*.obj
Solution/OpenGL1/Debug/*.pdb
Solution/OpenGL1/Debug/*.idb
Solution/OpenGL1/Debug/*.tlog

Solution/Debug/*.lib
Solution/Debug/*.pdb
Solution/Debug/*.ilk
Solution/Debug/*.exe

Solution/Common/Release/*.obj
Solution/Common/Release/*.pdb
Solution/Common/Release/*.idb
Solution/Common/Release/*.tlog
Solution/Common/Release/*.log
Solution/OpenGL1/Release/*.log
Solution/OpenGL1/Release/*.obj
Solution/OpenGL1/Release/*.pdb
Solution/OpenGL1/Release/*.idb
Solution/OpenGL1/Release/*.tlog

Solution/Release/*.lib
Solution/Release/*.pdb
Solution/Release/*.ilk
Solution/Release/*.exe

Solution/.vs/StudioProject2/v15/*.db
Solution/.vs/StudioProject2/v15/ipch