# Database
*.opendb
*.db
*.db-shm
*.db-wal
ipch

.mtl

Solution/Common/Debug/*.obj
Solution/Common/Debug/*.pdb
Solution/Common/Debug/*.idb
Solution/Common/Debug/*.tlog
Solution/OpenGL1/Debug/*.obj
Solution/OpenGL1/Debug/*.pdb
Solution/OpenGL1/Debug/*.idb
Solution/OpenGL1/Debug/*.tlog

Solution/Debug/*.lib
Solution/Debug/*.pdb
Solution/Debug/*.ilk
Solution/Debug/*.exe

Solution/Release/*.lib
Solution/Release/*.pdb
Solution/Release/*.ilk
Solution/Release/*.exe

Solution/.vs/StudioProject2/v15/*.db
Solution/.vs/StudioProject2/v15/ipch